<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants>
		<grant name="list" default="guest">
			<title xml:lang="ko">테이블/리스트 열람 권한</title>
		</grant>
		<grant name="view" default="guest">
			<title xml:lang="ko">스케줄 내용 열람 권한</title>
		</grant>
		<grant name="standby" default="manager">
			<title xml:lang="ko">대기 스케줄 열람 권한</title>
		</grant>
		<grant name="private" default="manager">
			<title xml:lang="ko">전용 스케줄 열람 권한</title>
		</grant>
		<grant name="write" default="guest">
			<title xml:lang="ko">스케줄 작성 권한</title>
		</grant>
		<grant name="comment" default="guest">
			<title xml:lang="ko">댓글 작성 권한</title>
		</grant>
	</grants>
	<actions>
		<!-- admin view -->
		<action name="dispScheduleAdminDashboard" type="view" menu_index="true" admin_index="true" />
		<action name="dispScheduleAdminScheduleList" type="view" />
		<action name="dispScheduleAdminInsertModule" type="view" menu_name="schedule" standalone="true" />
		<action name="dispScheduleAdminDeleteNoModuleSrlSchedule" type="view" />
		<action name="dispScheduleAdminDeleteMid" type="view" />
		<action name="dispScheduleAdminCategoryInfo" type="view" />
		<action name="dispScheduleAdminGrantInfo" type="view" />
		<action name="dispScheduleAdminAdditionSetup" type="view" />
		<action name="dispScheduleAdminSkinInfo" type="view" />
		<action name="dispScheduleAdminMobileSkinInfo" type="view" />

		<!-- admin Controller -->
		<action name="procScheduleAdminInsertMid" type="controller" />
		<action name="procScheduleAdminInsertConfig" type="controller" />
		<action name="procScheduleAdminSaveCategorySettings" type="controller" />
		<action name="procScheduleAdminDeleteMid" type="controller" />
		<action name="procScheduleAdminDeleteNoModuleSrlSchedule" type="controller" />
		<action name="procScheduleAdminSetList" type="controller" />

		<!-- user view -->
		<action name="dispScheduleContent" type="view" permission="list" standalone="false" index="true">
			<route route="$schedule_srl:int" />
			<route route="selected_month/$selected_month:int" />
			<route route="selected_month/$selected_month:int/$schedule_srl:int" />
			<route route="selected_month/$selected_month:int/selected_day/$selected_day:int" />
			<route route="selected_month/$selected_month:int/selected_day/$selected_day:int/$schedule_srl:int" />
			<route route="category/$category:int" />
			<route route="category/$category:int/$schedule_srl:int" />
			<route route="category/$category:int/selected_month/$selected_month:int" />
			<route route="category/$category:int/selected_month/$selected_month:int/$schedule_srl:int" />
			<route route="category/$category:int/selected_month/$selected_month:int/selected_day/$selected_day:int" />
			<route route="category/$category:int/selected_month/$selected_month:int/selected_day/$selected_day:int/$schedule_srl:int" />
			<route route="list_style/$list_style" />
			<route route="list_style/$list_style/$schedule_srl:int" />
			<route route="list_style/$list_style/page/$page:int" />
			<route route="list_style/$list_style/page/$page:int/$schedule_srl:int" />
			<route route="category/$category:int/list_style/$list_style" />
			<route route="category/$category:int/list_style/$list_style/$schedule_srl:int" />
			<route route="category/$category:int/list_style/$list_style/page/$page:int" />
			<route route="category/$category:int/list_style/$list_style/page/$page:int/$schedule_srl:int" />
			<route route="list_style/$list_style/search_target/$search_target/search_keyword/$search_keyword" />
			<route route="list_style/$list_style/search_target/$search_target/search_keyword/$search_keyword/$schedule_srl:int" />
			<route route="list_style/$list_style/page/$page:int/search_target/$search_target/search_keyword/$search_keyword" />
			<route route="list_style/$list_style/page/$page:int/search_target/$search_target/search_keyword/$search_keyword/$schedule_srl:int" />
			<route route="category/$category:int/list_style/$list_style/search_target/$search_target/search_keyword/$search_keyword" />
			<route route="category/$category:int/list_style/$list_style/search_target/$search_target/search_keyword/$search_keyword/$schedule_srl:int" />
			<route route="category/$category:int/list_style/$list_style/page/$page:int/search_target/$search_target/search_keyword/$search_keyword" />
			<route route="category/$category:int/list_style/$list_style/page/$page:int/search_target/$search_target/search_keyword/$search_keyword/$schedule_srl:int" />
		</action>
		<action name="dispScheduleInsert" type="view" permission="write" standalone="false" meta-noindex="true">
			<route route="insert" />
			<route route="selected_month/$selected_month/insert" />
			<route route="selected_month/$selected_month/selected_day/$selected_day/insert" />
			<route route="category/$category/insert" />
			<route route="category/$category/selected_month/$selected_month/insert" />
			<route route="category/$category/selected_month/$selected_month/selected_day/$selected_day/insert" />
			<route route="list_style/$list_style/insert" />
			<route route="selected_month/$selected_month/list_style/$list_style/insert" />
			<route route="selected_month/$selected_month/selected_day/$selected_day/list_style/$list_style/insert" />
			<route route="category/$category/list_style/$list_style/insert" />
			<route route="category/$category/selected_month/$selected_month/list_style/$list_style/insert" />
			<route route="category/$category/selected_month/$selected_month/selected_day/$selected_day/list_style/$list_style/insert" />
			<route route="$schedule_srl/update" />
			<route route="selected_month/$selected_month/$schedule_srl/update" />
			<route route="selected_month/$selected_month/selected_day/$selected_day/$schedule_srl/update" />
			<route route="category/$category/$schedule_srl/update" />
			<route route="category/$category/selected_month/$selected_month/$schedule_srl/update" />
			<route route="category/$category/selected_month/$selected_month/selected_day/$selected_day/$schedule_srl/update" />
			<route route="list_style/$list_style/$schedule_srl/update" />
			<route route="selected_month/$selected_month/list_style/$list_style/$schedule_srl/update" />
			<route route="selected_month/$selected_month/selected_day/$selected_day/list_style/$list_style/$schedule_srl/update" />
			<route route="category/$category/list_style/$list_style/$schedule_srl/update" />
			<route route="category/$category/selected_month/$selected_month/list_style/$list_style/$schedule_srl/update" />
			<route route="category/$category/selected_month/$selected_month/selected_day/$selected_day/list_style/$list_style/$schedule_srl/update" />
		</action>
		<action name="dispScheduleDelete" type="view" permission="write" standalone="false" meta-noindex="true">
			<route route="$schedule_srl/delete" />
			<route route="selected_month/$selected_month/$schedule_srl/delete" />
			<route route="selected_month/$selected_month/selected_day/$selected_day/$schedule_srl/delete" />
			<route route="category/$category/$schedule_srl/delete" />
			<route route="category/$category/selected_month/$selected_month/$schedule_srl/delete" />
			<route route="category/$category/selected_month/$selected_month/selected_day/$selected_day/$schedule_srl/delete" />
			<route route="list_style/$list_style/$schedule_srl/delete" />
			<route route="selected_month/$selected_month/list_style/$list_style/$schedule_srl/delete" />
			<route route="selected_month/$selected_month/selected_day/$selected_day/list_style/$list_style/$schedule_srl/delete" />
			<route route="category/$category/list_style/$list_style/$schedule_srl/delete" />
			<route route="category/$category/selected_month/$selected_month/list_style/$list_style/$schedule_srl/delete" />
			<route route="category/$category/selected_month/$selected_month/selected_day/$selected_day/list_style/$list_style/$schedule_srl/delete" />
		</action>
		<action name="dispScheduleContentView" type="view" permission="view" standalone="false" />

		<!-- user Controller -->
		<action name="procScheduleInsertSchedule" type="controller" />
		<action name="procScheduleDeleteSchedule" type="controller" />
		<action name="procScheduleVerificationPassword" type="controller" />
		<action name="procScheduleStatusUpdate" type="controller" />
		<action name="procScheduleGetList" type="controller" />
		<action name="procScheduleManageCheckedSchedule" type="controller" />
		<action name="procScheduleMoveMonth" type="controller" />
		<action name="procScheduleSearchSchedule" type="controller" />
	</actions>
	<menus>
		<menu name="schedule" type="all">
			<title xml:lang="en">Schedule</title>
			<title xml:lang="ko">스케줄</title>
		</menu>
	</menus>
</module>
