@charset "utf-8";


/* Index */

.navi {
	position: relative;
	margin: 24px auto;
	min-height: 38px;
	font-size: 0;
	text-align: center;
}
.navi:before,
.navi:after {
	content: ' ';
	display: table;
}
.navi:after {
	clear: both;
}
.navi .xi {
	color: #999;
}
.navi_fl,
.navi_fr {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.navi_fl {
	left: 0;
}
.navi_fr {
	right: 0;
}
.navi_btn {
	display: inline-block;
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0 16px;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	outline: none;
	text-align: center;
	font-size: 12px;
	color: #333;
	text-decoration: none;
	line-height: 32px;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
}
.navi_fr .navi_btn:last-child {
	margin-right: 0
}
.navi_btn.black,
.navi_btn.btn_submit {
	background-color: #888;
	border-color: #555;
	color: #fff;
}
.navi_btn.black .xi {
	color: #ccc;
}
.navi_btn.btn_close {
	background-color: #fff;
	border: 1px solid #aaa;
	color: #333;
}
.navi_btn.hidden {
	display: none;
}
.navi_btn:hover {
	background-color: #f6f6f6;
	border: 1px solid #d9d9d9;
}
.navi_btn.black:hover,
.navi_btn.btn_submit:hover {
	background-color: #777;
	border-color: #555;
}
.navi > .navi_btn.to_prev,
.navi > .navi_btn.to_next {
	padding: 8px;
	line-height: 1;
}
.navi > .navi_btn.btn_search {
	background-color: transparent;
	border: none;
	line-height: 1.5;
}
.navi > .navi_btn.btn_search span {
	padding: 8px;
	font-size: 20px;
	font-weight: bold;
}

.navi_loading {
	position: fixed;
	display: flex;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000050;
	z-index: 3;
	justify-content: center;
	align-items: center;
}
.navi_loading.hidden {
	display: none;
}
.navi_loader {
	font-size: 60px;
	color: #e5e5e5;
}


/* Modal Command */

.modal_target {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000030;
	font-size: 16px;
	z-index: 2;
	align-items: center;
	justify-content: center;
}
.modal_target_container {
	display: inline-block;
	width: 320px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.modal_target_container:after {
	content: "";
	display: block;
	clear: both;
}
.modal_target_container h3 {
	position: relative;
	margin: 0;
	padding: 20px 24px;
	font-weight: normal;
	border-bottom: 1px solid #e5e5e5;
}
.modal_target_container h3 i {
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-50%);
	margin: 0;
	width: 24px;
	height: 24px;
	line-height: 1.6;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	font-size: 14px;
	color: #aaa;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
}
.modal_target_container .modal_target_tabs {
	display: table;
	margin: 0;
	padding: 0 24px;
	width: 100%;
	height: 44px;
	list-style: none;
	font-size: 0;
	border-bottom: 1px solid #e5e5e5;
	box-sizing: border-box;
	border-collapse: collapse;
	table-layout: fixed;
}
.modal_target_container .modal_target_tab {
	position: relative;
	display: table-cell;
	border-top: none;
	font-size: 14px;
	text-align: center;
}
.modal_target_container .modal_target_tab.on {
	box-shadow: 0 0 0 1px #999 inset;
}
.modal_target_container .modal_target_tab.on:before,
.modal_target_container .modal_target_tab.on:after {
	content: '';
	position: absolute;
	left: calc(50% - 8px);
	width: 0;
	height: 0;
	border-width: 8px;
	border-style: solid;
}
.modal_target_container .modal_target_tab.on:before {
	top: 100%;
	border-color: #999 transparent transparent transparent;
}
.modal_target_container .modal_target_tab.on:after {
	top: calc(100% - 2px);
	border-color: #fff transparent transparent transparent;
}
.modal_target_container .modal_target_tab a {
	display: block;
	padding: 12px;
	text-decoration: none;
	color: #333;
	line-height: 1.5em;
}
.modal_target_container .modal_target_wrapper {
	padding: 24px;
}
.modal_target_container .modal_target_selector {
	display: block;
	text-align: center;
	line-height: 1.5em;
}
.modal_target_container .modal_target_selector label {
	display: inline-block;
	word-break: keep-all;
	cursor: pointer;
}
.modal_target_container .modal_target_selector label input {
	margin: 0;
	vertical-align: middle;
	pointer-events: none;
}
.modal_target_container .modal_target_selector label > span {
	margin-right: 12px;
	vertical-align: middle;
}
.modal_target_container .modal_target_selector select {
	margin: 0;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	height: 40px;
	padding: 4px 8px;
	outline: none;
	font-size: 14px;
}
.modal_target_container .modal_target_selector input[type="search"] {
	width: 160px;
    height: 40px;
    padding: 4px;
    font-size: 14px;
    border: 1px solid #ccc;
    color: #747474;
    background: #f7f7f7;
    outline: none;
}
.modal_target_container .modal_target_selector select.hidden {
	display: none;
}
.modal_target_container .modal_target_selector#recur_weekday {
	text-align: left;
	font-size: 14px;
}
.modal_target_container .modal_target_selector#recur_weekday div {
	display: table-cell;
	width: 50%;
}
.modal_target_container .modal_target_selector#recur_lunar > div {
	font-size: 0;
}
.modal_target_container .modal_target_selector#recur_lunar > div > span {
	font-size: 16px;
}
.modal_target_container .modal_target_selector#recur_lunar .recur_lunar_start,
.modal_target_container .modal_target_selector#recur_lunar .recur_lunar_end {
	display: inline-block;
	font-size: 16px;
}

.modal_target_container .modal_confirm {
	word-break: keep-all;
}
.modal_target_container .modal_target_commander {
	padding-top: 24px;
	text-align: center;
}

.modal_target_container .modal_target_options {
	width: 100%;
	padding-top: 16px;
	font-size: 12px;
}
.modal_target_container .modal_target_options * {
	box-sizing: border-box;
	border-collapse: collapse;
}
.modal_target_options input[type="text"],
.modal_target_options input[type="number"] {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: none;
	outline: none;
	text-align: center;
	font-size: 14px;
}
.modal_target_options label {
	display: inline-block;
	margin-right: 8px;
	cursor: pointer;
}.modal_target_options label.hidden {
	display: none;
}
.modal_target_options input[type="checkbox"],
.modal_target_options input[type="radio"] {
	margin: 0;
	width: 14px;
	height: 14px;
	vertical-align: middle;
}
.modal_target_options input[type="checkbox"]:disabled {
	pointer-events: none;
}
.modal_target_options .modal_target_option_tr {
	position: relative;
	display: flex;
	margin-top: 8px;
}
.modal_target_options .modal_target_option_th,
.modal_target_options .modal_target_option_td {
	flex: auto;
	padding: 4px 8px;
	border: 1px solid #e6e6e6;
	line-height: 1.5;
}
.modal_target_options .modal_target_option_th {
	width: 72px;
	background-color: #e6e6e6;
	text-align: center;
	word-break: keep-all;
}
.modal_target_options .modal_target_option_td {
	width: calc(100% - 72px);
	line-height: 1.5;
}
.modal_target_options .modal_target_option_td .modal_additive_option {
	padding: 4px 0 0 16px;
}
.modal_target_options .modal_target_option_cap {
	display: none;
}
.modal_target_options .modal_target_option_cap.shown {
	display: block;
}
.modal_target_options .modal_target_option_cap p {
	margin: 0;
	text-align: right;
	font-size: 10px;
	color: #669;
}

.modal_item_picker {
	display: inline-block;
	width: 49%;
	height: 132px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
}
.modal_item_picker::-webkit-scrollbar {
	width: 3px;
}
.modal_item_picker::-webkit-scrollbar-thumb {
	background-color: #ccc;
}
.modal_item_picker::-webkit-scrollbar-track {
	background-color: #f0f0f0;
}
.modal_item {
	padding: 10px 0;
	color: #aaa;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	transition: font-size .3s;
	box-sizing: border-box;
}
.modal_item.selected
{
	color: #666;
	font-size: 20px;
}
.modal_item:not(.selected):hover
{
	color: #888;
	font-size: 20px;
}
#modal_category .modal_target_container .modal_target_selector {
	display: flex;
}
#modal_category .modal_item_picker {
	flex: 1;
	width: auto;
}


/* Category List */

.ctg_list {
	display: table;
	margin: 20px auto 0;
	font-size: 12px;
}
.ctg_list ol,
.ctg_list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.ctg_list ul {
	font-size: 0;
}
.ctg_list li {
	display: inline-block;
	position: relative;
	height: 32px;
}
.ctg_list li a {
	display: inline-block;
	height: 32px;
	line-height: 32px;
	padding: 0 16px;
	text-decoration: none;
	color: #333;
}
.ctg_list > ul > li {
	margin-right: 4px;
	margin-bottom: 4px;
	background-color: #FFF;
	border-radius: 2px;
	vertical-align: top;
}
.ctg_list > ul > li > ul {
	display: none;
	position: absolute;
	left: -1px;
	top: 100%;
	min-width: 100%;
	box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.1);
	background-color: #FFF;
	z-index: 10;
}
.ctg_list > ul > li,
.ctg_list > ul > li > ul {
	border: 1px solid #e5e5e5;
	font-size: 12px;
}
.ctg_list span.ctg_check {
	margin-right: 2px;
}
.ctg_list span.ctg_drop {
	margin-left: 4px;
}