@charset "utf-8";
#modify_submit {
	padding:5px;
}
/*personalTable*/
.personalTable { width:100%; border:0; margin:0 auto; padding:0; table-layout:fixed; color:#333; border-left:1px solid #f0f0f0; }
.personalTable a {
	text-decoration:none; color:#333;
	height:15px; line-height: 15px;

}
.personalTable th div {  }

.personalTable tr.bg0{ background:#f8f8f8;}
.personalTable tr.bg1{ background:#f8f8f8;}
.personalTable th,
.personalTable td{
	border:0;
	padding:2px 5px 0px 5px;
	height:100px;
	vertical-align: top;
	border-right:1px solid #f0f0f0;
	text-align:left;
}
.personalTable td:hover {background:#f8f8f8; }
.personalTable th{ background:#f8f8f8; border-top:1px solid #999;border-bottom:1px solid #cdcdcd; padding:5px 0; }
.personalTable td{ border-bottom:1px solid #f0f0f0; font-weight:normal; background:#f8f8f8;  line-height:15px; padding:5px 0; }
.personalTable td.days { text-align: center}
.personalTable td.list {
	padding-left:5px;
}
.personalTable td.days a {
	width:45px;
	display:inline-block;
}
.personalTable .sunday { color:red;}
.personalTable .sunday a { text-decoration:none; color:#F00;}
.personalTable .saturday { color:blue;}
.personalTable .saturday a { text-decoration:none; color:#36C;}
.personalTable .center { text-align:center; }
.personalTable .same_height { height:auto; font-weight:bold; }
.personalTable .same_height.days { width:90px; }
.personalTable .check { margin:0; text-align:center; font-weight:bold; padding:0; border:0;}
.personalTable td.stamp { background:#fff;}
.personalTable td.today{
	background: #E7C5C5;
}


.personalTable .target_color{
	color:#EA03DE;
	font-weight: bold;
}
.personalTable span {
	font-weight: bold;
}
.navi {
	padding:10px 0;
}
.navi .att-btn {
	display: inline-block;
	padding: 5px 10px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	text-decoration: initial;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.navi .att-btn-primary{
	color: #ffffff;
	background-color: #428bca;
	border-color: #357ebd;
}

.att-btn-primary {
	color: #ffffff;
	background-color: #428bca;
	border-color: #357ebd;
}

.att-btn-primary:hover,
.att-btn-primary:focus,
.att-btn-primary:active,
.att-btn-primary.active,
.open .dropdown-toggle.att-btn-primary {
	color: #ffffff;
	background-color: #3276b1;
	border-color: #285e8e;
}

.att-btn-primary:active,
.att-btn-primary.active,
.open .dropdown-toggle.att-btn-primary {
	background-image: none;
}

.att-btn-primary.disabled,
.att-btn-primary[disabled],
fieldset[disabled] .att-btn-primary,
.att-btn-primary.disabled:hover,
.att-btn-primary[disabled]:hover,
fieldset[disabled] .att-btn-primary:hover,
.att-btn-primary.disabled:focus,
.att-btn-primary[disabled]:focus,
fieldset[disabled] .att-btn-primary:focus,
.att-btn-primary.disabled:active,
.att-btn-primary[disabled]:active,
fieldset[disabled] .att-btn-primary:active,
.att-btn-primary.disabled.active,
.att-btn-primary[disabled].active,
fieldset[disabled] .att-btn-primary.active {
	background-color: #999;
	border-color: #f2f2f2;
}

/* List Style */
.bd_lst{clear:both;margin:0;padding:0;list-style:none;*zoom:1}
.bd_tb_lst td{border-bottom:1px solid #EEE}
.bd_tb_lst tbody tr:hover{background:#F9F9F9;border-color:#DDD}
.bd_lst img{vertical-align:middle}


/* Normal */
.bd_tb_lst{margin-top:25px}
.bd_tb_lst th,.bd_tb_lst td{padding:8px 12px;font-size:11px;text-align:center;white-space:nowrap}
.bd_tb_lst th{padding:9px 12px;border-top:1px solid #CCC;border-bottom:1px solid #BBB;-webkit-box-shadow:inset 0 -1px 0 #FFF;box-shadow:inset 0 -1px 0 #FFF;color:#666;text-shadow:0 0 1px rgba(0,0,0,.1)}
.bd_tb_lst td{color:#555}
.bd_tb_lst .cate{padding:8px;color:#666}
.bd_tb_lst .title{padding-right:6px;width:100%}
.bd_tb_lst td.title{text-align:left;font-size:12px;white-space:normal;word-break:break-all}
.bd_lst td.title a{color:#222}
.bd_tb_lst .cate span{display:block;overflow:hidden;max-width:90px;text-overflow:ellipsis;word-wrap:normal\9}
.bd_tb_lst tbody tr:hover {
background: #f5f5f5;
border-color: #DDD;
}
.bd .bg_f_f9 {
background: #F9F9F9 url(../img/ie/bg_f_f9.gif) repeat-x;
background: -webkit-gradient(linear,0% 0%,0% 100%,from(#FFF),to(#F9F9F9));
background: linear-gradient(to bottom,#FFF 0%,#F9F9F9 100%);
}

.bd_tb_lst .text-danger{color:#a94442}
.bd_tb_lst .text-danger:hover{color:#843534}
.bd_tb_lst .text-success{color:#000;}
.bd_tb_lst .text-success:hover{color:#000;}
.xl .bd_lst tbody>tr:nth-child(odd)>td,
.xl .bd_lst tbody>tr:nth-child(odd)>th{background-color:#f9f9f9}

/* Pagnation */
.bd_pg{padding:24px 0;text-align:center}
.bd_pg a,.bd_pg strong{display:inline-block;min-width:12px;height:24px;padding:0 6px;border:1px solid transparent;border-radius:2px;font:bold 12px/2em Tahoma;letter-spacing:-1px;*display:inline;*zoom:1}
.bd_pg a{color:#999;text-decoration:none !important}
.bd_pg a:hover,.bd_pg a:focus{background:#F9F9F9;border-color:#AAA;color:#555}
.bd_pg .frst_last{color:#555}
.bd_pg .direction{margin:0 4px;color:#555;letter-spacing:0;font-weight:normal}
.bd_pg strong.direction{color:#999}


/* view */
.title {
	text-align:center;
	min-height:50px;
}
.title img {
	width:30px;
	height:30px;
	padding:1px;
	border:1px solid #999;
	background:#fff;
	border-radius: 50%;
	margin-top:-5px;
}
.title span {
	color:#333;
	font-size:30px;
}
.read_top {
  list-style: none;
  margin-bottom: 10px;
  padding: 0;

}
.read_top li {
	display: inline-block;
	padding: 0px 10px;
}
.playicon {
	top:20px;
	right:20px;
	color:#fff;
	display:block;
	z-index:9999;
	position: absolute;
}
.schedule_content {
	position: relative;
}
.schedule_content img {
	max-width: 100%;
}

.member_info {
	text-align:right;
	padding-top: 20px;
}
.member_info img {
	width:50px;
	height:50px;
	display:block;
	margin-left:auto;
}
.member_info span{
	color:#1769FF;
	font-weight: bold;
}
.member_info .member img {
	display:none;
}

.file-absulute {
	padding:2px;
	border:1px solid #DCDCDC;
	border-radius:2px;
	background:#fff;
	position:absolute;
	display:none;
}
